################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OblivionReloaded/.vs/OblivionReloaded/v16
/OblivionReloaded/.vs
